#nav {
  background-color: #86a877 !important;/* Solid green background */
  padding: 10px;
  border-radius: 8px; /* Slight rounded corners */
}

/* Navbar Links */
.navbar-nav .nav-link {
  color: rgb(0, 0, 0) !important; /* White text for contrast */
}

.navbar-nav .nav-link:hover {
  color: #dde8d9 !important; /* Slightly lighter on hover */
}

body{
  background-color: rgba(187, 185, 185, 0.857) !important; /* Ensure a Solid colour background */
}



.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#hero-section {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#hero-section > div {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  #hero-section {
      height: 300px;
  }
}





#taster{
  background-color: rgba(190, 190, 190, 0.824) !important;/* Ensure a Solid colour background */

}
.card-body {
  background-color: rgb(255, 238, 156);
  padding: 1rem; /* Ensures proper spacing */
  border-radius: 0 0 8px 8px; /* Rounds bottom corners */
  font-family:sans-serif;
  font-weight: bold;
}

#link-video {
  border: 2px solid black; /* border width, style, and color */
  padding: 10px; /* Optional: Adds space inside the border */
  display: inline-block; /* Ensures that the border wraps around the content */
}


























.card-body {
  background-color: rgb(255, 238, 156);
  /* Light gray background */
  padding: 1rem; /* Ensures proper spacing */
  border-radius: 0 0 8px 8px; /* Rounds bottom corners */
}

  /* Style for the box that will be below the text */
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the box */
    width: 200%; /* Adjust width */
    padding: 30px;
    background-color: rgba(112, 138, 104, 0.638); /* Light semi-transparent background */
    border-radius: 10px;
    z-index: 1; /* Moves the box behind the text */
  }



.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Makes the image cover the entire section */
    z-index: 0;
  }
  
  #hero-section{
    height: 500px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  
  #hero-section > div {
    position: relative; /* Ensures text is above the overlay */
    z-index: 1;
  }

  
  
  @media (max-width: 768px) {
    #hero-section {
      height: 300px;
    }
  }
  

  footer{
  background-color: rgb(255, 238, 156)!important; /* Ensure a Solid colour background */
  .nav-item .nav-link:hover{
    color: #362912 !important; /* Slightly lighter on hover */
  
  }
  
  }
  